<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Please sign in</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
</head>
<body style="background-color: #092241">
    <div  style="margin: 0; background: linear-gradient(to bottom, #092241 0%, #092241 100%) no-repeat #a05fb7; height: 100%; width: 100%">

        <div class="d-flex flex-column" style="height: 100%">
            <div class="p-2 text-center" style="height:30%;">
                <img src="https://github.com/feast-dev/feast/blob/master/docs/assets/feast_logo.png">
            </div>
            <div class="p-2 alert alert-danger align-self-center text-center" style="width: 50%">
                <h1>403 - Access Denied</h1>

                <div>You Require the `Feast-User` Role to access this application</div>
            </div>

        </div>

    </div>
</body>
</html>